:root {
    --primary-text-color: #434455;    ;
    --title-text-color: #2E2F42;
    --accent-color: #404BBF;
    --primary-white-color: #ffffff;
    --secondary-white-color: #E7E9FC;
    --title-btn-color: #4D5AE5;
    --white-bg-color: #F4F4FD;
}

body{
    /* font-family: 'Raleway', sans-serif; */
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    background-color: var(--primary-white-color);
}
.list {
    list-style: none;
}

.link {
    color: var(--primary-text-color);
    text-decoration: none;
}

/* Header */
.header {}

.header-nav {}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--accent-color);
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    color: var(--title-btn-color);

    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-black{
    color: var(--title-text-color);
    /* order: 1; */
}
               
.header-list {}

.header-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.contact-nav {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.contact-mail {}

.contact-phone {}

/* /Header */

/* Hero */

.hero {
    background-color: var(--title-text-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;    
    
    color: var(--primary-white-color);
    width: 500px;
}

.hero-btn {
    font-family: inherit;
    color: var(--primary-white-color);    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    width: 169px;
    height: 56px;
    background: var(--title-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;    
}

.hero-btn-active:hover,
.hero-btn-active:focus {
    background-color: var(--accent-color);
    /* cursor: pointer; */
}
/* /Hero */

/* Section 1 Description */
.descr {}

.descr-list{}

.descr-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.descr-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
}
/* /Section 1 Description */

/* Section 2 What are we doing */
.we-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color:var(--title-text-color);
}
/* /Section 2 What are we doing */

/* Section 3 Our Team */
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.team-list {}    

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
}
/* /Section 3 Our Team */

/* Footer */
.footer {
    background-color: var(--title-text-color);
}

.footer-logo {}

.footer-logo-white{
    color: var(--white-bg-color);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-white-color);
    width: 264px;
}
/* /Footer */

/* Portfolio */

/* Filter */
.filter {}

.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--title-btn-color);
    background: var(--white-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--secondary-white-color);
    border-radius: 4px;
}

.filter-btn-active:hover,
.filter-btn-active:focus{
    color: var(--primary-white-color);
    background: var(--accent-color);
    cursor: pointer;
}
/* /Filter */

/* Content */
.content {}

.content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
}
/* /Content */

.current {
    color: var(--accent-color);
}